@charset "utf-8";
/* CSS Document */
.glass2 {		height: 85%;
				  min-height: 80vh;
				  width: 65%;
				  background: linear-gradient(
					to right bottom,
					rgba(255, 255, 255, 0.7),
					rgba(255, 255, 255, 0.3)
				  );
				  border-radius: 20px;
				  z-index: 5;
				  display: flex;
	overflow: hidden;
}


.dashboard {	font-family: poppin3;
				 width: 35%;
					min-height: 85vh;

				  display: flex;
				flex-direction: column;
				  align-items: center;
	align-content: center;
				  justify-content: center;
				  text-align: center;
				  background: linear-gradient(
					to right bottom,
					rgba(255, 255, 255, 0.7),
					rgba(255, 255, 255, 0.3)
				  );
				  border-radius: 1rem;
}
.games {  
	position: inherit;
	float: right;
	width: 65%;
min-height: 85vh;
font-family: poppin3;
	 display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  border-radius: 1rem;
}
.cards{ width: 100%; height: auto;}
.link {
 width: 100%;
  display: flex;
	justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
color:rgba(0,0,0,0.70);
}
.link h2{font-size: 20px;
font-family: poppin3;
padding: 5px 0}
.links{display: flex;
	width: 100%;
	height: auto;
}






.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 20px;
  color: white;
  padding: 5px;
  position: relative;
top:-100px;
}


.pro h2 {
  width: 200px;
height: 40px;
  color: white;
  font-weight: 600;
	font-size: 32px;
}
.pro p
{
	font-size: 18px;
}
/* GAMES */
.status {
 
	 margin-top: 4rem;
}



.games {
	background: rgba(255,255,255,0.00);
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
	position: relative;
}

.bc {
  display: flex;
  background: rgba(255,255,255,1.00);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
  width: 70%;
}
.bcleft{ width: 30%; height: auto; display: flex; justify-content: center; align-items: center;background-color: transparent;}
.bcleft img{ width: 80%;height: 80%; }
.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 300px;
  height: 25%;
  border-radius: 10px;

  overflow: hidden;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
	
}
.links{ display: flex;
flex-direction: column;}
.link h2{color:#426696;}
.status{ display: flex;
justify-content: center;
align-items: center;
	position: absolute;
	top: 12%;
}
.status h1{color: #426696; font-weight: 600; font-size: 40px; opacity: 0.8;}
.cards{ display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
position: absolute;
top:34%;}



@media screen and (max-width: 768px){
	.glass2 {width: 85%; display: flex;justify-content: center; flex-direction: column;position: relative;z-index: 1}
	.dashboard{width: 100%; height: 400px;position: absolute;z-index: 2;}
	.pro { background-color: transparent;}
	.links{display: flex; flex-direction: column;height: auto; top:-10%}
	.link h2{font-size: 18px}
	.games{display: none;}
	
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 18px}
	.cards .bc .bcleft{display: none;}
	.cards .bc{ display: flex;align-items: center;align-items: center;}
	.card-info h2{font-size: 20px;}
	.card-info {width: 100%; height: auto;justify-content: center;align-content: center;align-items: center;}
	.progress{width: 90%;}
	.pro {top:-10%}
	
	
	
	
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 18px}
	.cards .bc .bcleft{display: none;}
	.cards .bc{ display: flex;align-items: center;align-items: center;}
	.card-info h2{font-size: 20px;}
	.card-info {width: 100%; height: auto;justify-content: center;align-content: center;align-items: center;}
	.progress{width: 90%;}
	.pro {top:-10%}
}
@media screen and (min-width: 1440px) and (max-width: 1980px){
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 20px}
	.cards .bc img{max-width: 90%; max-height: 90%;}
	.cards .bc{ display: flex;align-items: center;align-items: center;}
	.card-info h2{font-size: 20px;}
	.card-info p{}
}