@charset "utf-8";
/* CSS Document */
.glass2 {		height: 85%;
				  min-height: 80vh;
				  width: 65%;
				  background: linear-gradient(
					to right bottom,
					rgba(255, 255, 255, 0.7),
					rgba(255, 255, 255, 0.3)
				  );
				  border-radius: 20px;
				  z-index: 5;
				  display: flex;
	overflow: hidden;
}


.dashboard {	font-family: poppin3;
				 width: 35%;
					min-height: 85vh;

				  display: flex;
				flex-direction: column;
				  align-items: center;
	align-content: center;
				  justify-content: center;
				  text-align: center;
				  background: linear-gradient(
					to right bottom,
					rgba(255, 255, 255, 0.7),
					rgba(255, 255, 255, 0.3)
				  );
				  border-radius: 1rem;
}
.games {  
	position: inherit;
	float: right;
	width: 65%;
min-height: 85vh;
font-family: poppin3;
	 display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  border-radius: 1rem;
}
.cards{ width: 100%; height: auto;}
.link {
 width: 100%;
  display: flex;
	justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
color:rgba(0,0,0,0.70);
}
.link h2{font-size: 24px;
font-family: poppin3;
padding: 5px 0}
.links{display: flex;
	width: 100%;
	height: auto;
}






.pro {
  background: linear-gradient(to right bottom, #D0FFEA, #34EBE9);
  border-radius: 20px;
  color: white;
  width: 300px;
height: 120px;
  position: relative;
top:-140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}


.pro h2 {
	font-family: poppin3;

 	 padding-top: 20px;
	color: #426696; 
	font-weight: 600; 
	font-size: 44px; 
	opacity: 0.8;
}
.pro p
{
	font-size: 28px;
	
}
/* GAMES */
.status h1{color: #426696; font-weight: 600; font-size: 44px; opacity: 0.8;letter-spacing: 1px}
.status{ display: flex;
justify-content: center;
align-items: center;
	position: absolute;
	top: 240px;
}


.games {
	background: rgba(255,255,255,0.00);
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
	position: relative;
}

.bc {
  display: flex;
  background: rgba(255,255,255,1.00);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.212);
  justify-content: space-around;
  width: 70%;
}
.bcleft{ width: 30%; height: auto; display: flex; justify-content: center; align-items: center;background-color: transparent;}
.bcleft img{ width: 80%;height: 80%; }
.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 400px;
  height:200px;
  border-radius: 15px;
display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
  overflow: hidden;
}
.progress p{font-size: 20px; padding-top: 15px}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
	background-color: transparent;
	height: auto;
}
.card-info h2{font-family: poppin;}
.links{ display: flex;
flex-direction: column;}
.link h2{color:#426696; padding: 10px 0;
letter-spacing: 0.5px;}
.link h2:hover {
	color: #034537;
	transform: scale(1.2);
	font-family: poppin;
}

.cards{ display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
position: absolute;
top:34%;}



@media screen and (max-width: 768px){
	.glass2 {width: 85%; display: flex;justify-content: center; flex-direction: column;position: relative;z-index: 1}
	.dashboard{width: 100%; height: 400px;position: absolute;z-index: 2;}
	.pro { background-color: transparent;}
	.links{display: flex; flex-direction: column;height: auto; top:-10%}
	.link h2{font-size: 18px}
	.games{display: none;}
	.pro {
  color: white;
  width: 240px;
height: 100px;
  position: relative;
top:-40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}


.pro h2 {
	font-family: poppin3;

 	 padding-top: 20px;
	color: #426696; 
	font-weight: 600; 
	font-size: 40px; 
	opacity: 0.8;
}
.pro p
{
	font-size: 20px;
	
}
	
	
	
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 20px}
	.cards .bc .bcleft{display: none;}
	.cards .bc{ display: flex;align-items: center;align-items: center;min-width: 250px;}
	.card-info h2{font-size: 20px;}
	.card-info {min-height: 50px;  height: auto;justify-content: center;align-content: center;align-items: center;}
	.progress{width: 90%;}
	.pro {top:-10%}
	.progress{min-width: 240px;}
	.progress a{font-size: 14px;}
	.dashboard{width: 100%; height: 500px;position: absolute;z-index: 2;}
	
	
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 24px}
	.cards .bc .bcleft{display: none;}
	.cards .bc{ display: flex;align-items: center;align-items: center;}
	.card-info h2{font-size: 20px;}
	.card-info p{font-size: 16px}
	.card-info a{font-size: 20px}
	.card-info {width: 100%; height: auto;justify-content: center;align-content: center;align-items: center;}
	.progress{width: 100%; font-size: 18px;}
	.pro {top:-10%}
}
@media screen and (min-width: 1440px) {
	.links{display: flex; flex-direction: column;height: auto;}
	.link h2{font-size: 28px}
	.cards .bc img{max-width: 90%; max-height: 90%;}
	.cards .bc{ display: flex;align-items: center;align-items: center;}
	.card-info h2{font-size: 28px;}
	.card-info p{font-size: 16px}
	.card-info a{font-size: 20px}
	.progress{font-size: 24px;}
}